<p id="notice"><%= notice %></p>

<p>
  <strong>Medical record:</strong>
  <%= @note.medical_record_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @note.comment %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @note.doctor.name %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
